/* A lot of the CSS below is from EESoc - we <3 you guys */

/* ------- GLOBAL ------- */
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, 'Roboto', Helvetica, 'Lucida Grande', sans-serif;
}

img {
  max-width: 100%;
}


body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%!important;
  height: 100%;
  color: #606060;
  background-color: #eeeeee;
}


/* ------- ELEMENTS ------- */
a {
  color: #21558f;
}

.center {
  text-align: center;
}

p.callout {
  padding: 15px;
  background-color: #ECF8FF;
  margin-bottom: 15px;
}

p.callout.important {
  background-color: #ffecf8;
}

.callout a {
  font-weight: bold;
  color: #2BA6CB;
}

table.social {
  background-color: #ebebeb;
}

a.fb {
  background-color: #3B5998!important;
}

a.tw {
  background-color: #1daced!important;
}

a.gp {
  background-color: #DB4A39!important;
}

a.ms {
  background-color: #000!important;
}

a.ig {
  background-color: #3d6a91!important;
}

hr {
  border: 0px;
  color: #e9e9e9;
  background-color: #e9e9e9;
  height: 1px;
}

.content hr {
  margin: 20px 0px;
}

.sponsored-by {
  text-align: center;
  margin-top: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}

/* ------- PAGE ------- */
table.page-wrap { width: 100%; text-align: center }

.container {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 20px;
  text-align: left;
}

.vertical-space {
  margin-bottom: 20px;
}


/* ------- TYPOGRAPHY ------- */
h1,h2,h3,h4,h5,h6 {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
  text-transform: none;
}

h1.title { font-weight: 200; font-size: 44px; text-align: center; }
h2.title { font-weight: 200; font-size: 24px; text-align: center; }

h1 { font-weight: 300; font-size: 24px; }
h2 { font-weight: 300; font-size: 22px; }
h3 { font-weight: 400; font-size: 17px; }
h4 { font-weight: 500; font-size: 14px; }
h5 { font-weight: 900; font-size: 14px; }
h6 { font-weight: 900; font-size: 14px; text-transform: uppercase; color: #E0E0E0; }

p.date { text-align: center; }

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}
p.lead { font-size: 17px; }
p.last { margin-bottom: 0px; }

ul li {
  margin-left: 20px;
  list-style-position: outside;
}

.agenda {
  margin: 15px 0px;
}

.agenda ol {
  margin-left: 15px;
  list-style-position: inside;
}

.agenda ol li {
  margin: 5px 0px;
}

.head-links {
  text-align: center;
  margin-bottom: 15px;
}

.head-links a {
  text-decoration: none;
}

.container {
  margin-top: 5px;
  width: 600px;
}

.unsubscribe {
  text-align: center;
  font-size: 11px;
  color: #d0d0d0;
}

.unsubscribe > a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}


/* ------- RESPONSIVENES ------- */
/* Nuke it from orbit. It's the only way to be sure. */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block!important;
  width: auto;
  max-width: 600px!important;
  margin: 0 auto!important; /* makes it centered */
  clear: both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding: 0px 15px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}

/* ------- PHONE ------- */
/* For clients that support media queries. Nothing fancy. */
@media only screen and (max-width: 600px) {
  a[class="btn"] {
    display: block!important;
    margin-bottom: 10px!important;
    background-image: none!important;
    margin-right: 0!important;
  }

  div[class="column"] {
    width: auto!important;
    float: none!important;
  }

  table[class="social"] div[class="column"] {
    width: auto!important;
  }

  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* ------- COMPONENTS ------- */
.component.event > .left {
  float: left;
}

.component.event > .right ul {
  padding-left: 0;
  margin-top: 6px;
  list-style-type: none;
}

.component.event .date {
  position: relative;
  height: 110px;
  width: 110px !important;
  text-align: center;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.component.event .month {
  position: relative;
  background-color: #ff2841;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  line-height: 30px;
  color: white;
  font-size: 20px;
}

.component.event .day {
  position: relative;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  color: black;
  font-size: 60px;
  line-height: 70px;
}

.component.event > .clear {
  clear: both;
}

.component.sponsor .logo {
  position: relative;
  width: 50%;
  padding: 4vh;
}

img.docsoc-logo {
  position: relative;
  width: 200px;
}

.head-links span {
  vertical-align: middle;
}

.head-links img, .component.sign img {
  width: 16px;
  padding-right: 5px;
  vertical-align: middle;
}

.component.sign a[fb] {
  text-decoration: none;
}
