<!DOCTYPE html>
<html>
  <!-- Trying out the entire design here first, before I split everything into
    components and start working on the composer -->
  <head>
    <title>Template</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <p>&nbsp;</p>
    <div class="container">
      <div class="content">
        Hello world
      </div>
    </div>
    <p>&nbsp;</p>
  </body>
</html>
