<div class="component event">
  {{#header}}
  <div>
    <img src="{{.}}"/>
  </div>
  {{/header}}
  <div class="left">
    <table style="width: 110px;">
      <tr>
        <td>
          <center>
            <div class="date">
              <div class="month">{{month}}</div>
              <div class="day">{{day}}</div>
            </div>
          </center>
        </td>
      </tr>
    </table>
  </div>
  <div class="right">
    <ul>
      <li><strong>When:</strong> {{date}}</li>
      {{#location}}
      <li><strong>Where:</strong> {{location}}</li>
      {{/location}}
      {{#links.0}}
      <li><strong>Link{{#plural_links}}s{{/plural_links}}:</strong>
        {{#links}}
        <a href="{{href}}">{{text}}</a>&nbsp;
        {{/links}}
      </li>
      {{/links.0}}
    </ul>

    <div>
      {{description}}
    </div>
    {{#external}}<p>
      <em>Please note that this event is not organised by DoCSoc.</em>
    </p>{{/external}}
  </div>
  <div class="clear"></div>
</div>
