<div class="component event">
  <div>
    <img src="{{header}}" alt="{{header_alt}}"/>
  </div>
  <div class="left">
    <div class="date">
      <div class="month">{{month}}</div>
      <div class="day">{{day}}</div>
    </div>
  </div>
  <div class="right">
    <ul>
      <li><strong>When:</strong> {{date}}</li>
      <li><strong>Where:</strong> {{location}}</li>
      <li><strong>Link{{#plural_links}}s{{/plural_links}}:</strong>
        {{#links}}
        <a href="{{href}}">{{text}}</a>&nbsp;
        {{/links}}
      </li>
    </ul>

    <div>
      {{description}}
    </div>
    {{#external}}<p>
      <em>Please note that this event is not organised by DoCSoc.</em>
    </p>{{/external}}
  </div>
  <div class="clear"></div>
</div>
