<div class="component sign">
  <hr/>
  {{text}}
  <p>
    {{#facebook}}
    <a href="https://www.facebook.com/{{.}}" fb>
      <img src="https://docsoc.co.uk/img/icons/square-facebook-50.png"
           alt="Facebook" />
    </a>
    {{/facebook}}
    &nbsp;
    {{#linkedin}}
    <a href="https://www.linkedin.com/in/{{.}}" fb>
      <img src="https://i.imgur.com/T8S2g7x.png"
           alt="LinkedIn" />
    </a>
    &nbsp;
    {{/linkedin}}
    <em>{{name}}</em><br/>
    <strong>{{role}}</strong>
  </p>
</div>
